.App{
  background-color: #f2f2f2;
  border-radius: 2em;
  max-width: 55%;
  min-height: 60%;
  position: relative;
  margin: auto;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: center;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  /* box-shadow: 1px 1px 2px 4px rgba(92, 104, 175,0.3); */
}

.login h2{
  padding: 1em;
}