.attable{
    width: 90%;
    list-style-type: none;
    margin: 1rem auto;
}

.athead,.atdata{
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
    box-shadow: 0px 0px 9px 0px rgba(48, 47, 47, 0.1);
    text-align: center;
    justify-content: space-between;
}

.day{
    margin: .3rem 1.5rem;
}

li div{
    flex-basis: 10%;
}

li div:nth-child(1){
    flex-basis: 5%;
}

.athead{
    background-color:var(--m-black);
    color: var(--m-lace);
    margin-bottom: .5rem;
}

.atbody{
    padding: .5rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;

}

.atdata{
    background-color: var(--m-white);
    margin: .5rem .3rem;
}

.hrs-link{
    text-decoration: none;
    color: var(--m-darkblue);
    font-weight: 800;
}

@media only screen and (max-width:768px){
    .athead{
        display: none;
    }

    .atdata{
        display: block;
        box-shadow: 0px 0px 9px 0px rgba(48, 47, 47, 0.25);
    }

    .atbody{
        background-color: var(--m-white);
    }

    li div{
        flex-basis: 100%;
        display: flex;
        padding: .2rem 0;
        flex-direction: row;
    }

    li div:before{
        content: attr(data-label);
        padding-right: 1rem;
        flex-basis: 50%;
        text-align: right;
        color: var(--m-darkblue);
    }
}
