*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

html,body,#root{
  height: 100%;
}

:root{
  --violet: rgb(104, 46, 135);
  --gray: rgb(169,169,169);
  --black: rgba(0,0,0,0.9);
  --lightgray: rgba(137, 148, 153,0.2);
  --white: rgb(255,255,255);
}