.image-div{
    max-width:70%;
    max-height: 30%;
    margin:auto;
    margin-top:.5rem;
    margin-bottom: 1rem;
}

img{
    width: 20%;
    height: 35%;
    border: 2px solid #0d0d0d;
    padding: 1%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.input-div{
    max-width:50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    /* border:1px solid black; */
    padding: 0rem 1.5rem;
}
.input-div label,input{
    display: block;
    font-size: medium;
    text-align: left;
    margin-bottom: .5rem;
}

.input-div input{
    width: 100%;
}

.submit-btn{
    border-radius: 20%;
    padding:0.75rem 2rem;
    border: 1px solid #f2f2f2;
    color:#f2f2f2;
    background-color:#0d0d0daf;
    margin: auto;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.submit-btn:hover{
    border: 1px solid #0d0d0d;
    color: #0d0d0d;
    background-color: #f2f2f2;
    opacity: 1;
}

